In [53]:
import pandas as pd

In [54]:
model = pd.read_pickle("Restaurant2")

In [55]:
model

DecisionTreeRegressor(max_depth=10)

In [56]:
cols = ['P1','P2','P3','P4','P5','P6','P7','P8','P9','P10','P11','P12','P13','P14','P15','P16','P17','P18','P19','P20','P21','P22','P23','P24','P25','P26','P27','P28','P29','P30','P31','P32','P33','P34','P35','P36','P37','_Big Cities','_Other','_DT','_IL','_FC']

In [59]:
#### big = eval(input("Enter Big City (0/1): "))
other =  eval(input("Enter City (0/1): "))
DL = eval(input("Enter DL (0/1): "))
IL = eval(input("Enter IL (0/1): "))
FC = eval(input("Enter FC (0/1): "))
P1 = eval(input('Enter value for P1 (1-25): '))
P2 = eval(input('Enter value for P2 (1-25): '))
P3 = eval(input('Enter value for P3 (1-25): '))
P4 = eval(input('Enter value for P4 (1-25): '))
P5 = eval(input('Enter value for P5 (1-25): '))
P6 = eval(input('Enter value for P6 (1-25): '))
P7 = eval(input('Enter value for P7 (1-25): '))
P8 = eval(input('Enter value for P8 (1-25): '))
P9 = eval(input('Enter value for P9 (1-25): '))
P10 = eval(input('Enter value for P10 (1-25): '))
P11 = eval(input('Enter value for P11 (1-25): '))
P12 = eval(input('Enter value for P12 (1-25): '))
P13 = eval(input('Enter value for P13 (1-25): '))
P14 = eval(input('Enter value for P14 (1-25): '))
P15 = eval(input('Enter value for P15 (1-25): '))
P16 = eval(input('Enter value for P16 (1-25): '))
P17 = eval(input('Enter value for P17 (1-25): '))
P18 = eval(input('Enter value for P18 (1-25): '))
P19 = eval(input('Enter value for P19 (1-25): '))
P20 = eval(input('Enter value for P20 (1-25): '))
P21 = eval(input('Enter value for P21 (1-25): '))
P22 = eval(input('Enter value for P22 (1-25): '))
P23 = eval(input('Enter value for P23 (1-25): '))
P24 = eval(input('Enter value for P24 (1-25): '))
P25 = eval(input('Enter value for P25 (1-25): '))
P26 = eval(input('Enter value for P26 (1-25): '))
P27 = eval(input('Enter value for P27 (1-25): '))
P28 = eval(input('Enter value for P28 (1-25): '))
P29 = eval(input('Enter value for P29 (1-25): '))
P30 = eval(input('Enter value for P30 (1-25): '))
P31 = eval(input('Enter value for P31 (1-25): '))
P32 = eval(input('Enter value for P32 (1-25): '))
P33 = eval(input('Enter value for P33 (1-25): '))
P34 = eval(input('Enter value for P34 (1-25): '))
P35 = eval(input('Enter value for P35 (1-25): '))
P36 = eval(input('Enter value for P36 (1-25): '))
P37 = eval(input('Enter value for P37 (1-25): '))

query = pd.DataFrame({'_Big Cities':[big],
                     '_Other':[other],
                     '_DT':[DL],
                     '_IL':[IL],
                     '_FC':[FC],
                     'P1':[P1],
                     'P2':[P2],
                     'P3':[P3],
                     'P4':[P4],
                     'P5':[P5],
                     'P6':[P6],
                     'P7':[P7],
                     'P8':[P8],
                     'P9':[P9],
                     'P10':[P10],
                     'P11':[P11],
                     'P12':[P12],
                     'P13':[P13],
                     'P14':[P14],
                     'P15':[P15],
                     'P16':[P16],
                     'P17':[P17],
                     'P18':[P18],
                     'P19':[P19],
                     'P20':[P20],
                     'P21':[P21],
                     'P22':[P22],
                     'P23':[P23],
                     'P24':[P24],
                     'P25':[P25],
                     'P26':[P26],
                     'P27':[P27],
                     'P28':[P28],
                     'P29':[P29],
                     'P30':[P30],
                     'P31':[P31],
                     'P32':[P32],
                     'P33':[P33],
                     'P34':[P34],
                     'P35':[P35],
                     'P36':[P36],
                     'P37':[P37],})

Enter City (0/1):  1
Enter DL (0/1):  0
Enter IL (0/1):  1
Enter FC (0/1):  1
Enter value for P1 (1-25):  2
Enter value for P2 (1-25):  4
Enter value for P3 (1-25):  6
Enter value for P4 (1-25):  8
Enter value for P5 (1-25):  10
Enter value for P6 (1-25):  11
Enter value for P7 (1-25):  23
Enter value for P8 (1-25):  1
Enter value for P9 (1-25):  4
Enter value for P10 (1-25):  5
Enter value for P11 (1-25):  7
Enter value for P12 (1-25):  2
Enter value for P13 (1-25):  7
Enter value for P14 (1-25):  2
Enter value for P15 (1-25):  7
Enter value for P16 (1-25):  9
Enter value for P17 (1-25):  2
Enter value for P18 (1-25):  67
Enter value for P19 (1-25):  25
Enter value for P20 (1-25):  2
Enter value for P21 (1-25):  5
Enter value for P22 (1-25):  6
Enter value for P23 (1-25):  3
Enter value for P24 (1-25):  2
Enter value for P25 (1-25):  3
Enter value for P26 (1-25):  1
Enter value for P27 (1-25):  5
Enter value for P28 (1-25):  3
Enter value for P29 (1-25):  21
Enter value for P30 (1-25):  24
Enter value for P31 (1-25):  25
Enter value for P32 (1-25):  22
Enter value for P33 (1-25):  4
Enter value for P34 (1-25):  21
Enter value for P35 (1-25):  23
Enter value for P36 (1-25):  21
Enter value for P37 (1-25):  22

In [60]:
query

,_Big Cities,_Other,_DL,_IL,_FC,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,1,1,0,1,1,2,4,6,8,10,...,3,21,24,25,22,4,21,23,21,22

In [62]:
model.predict(query)[0]

5166635.0